<!-- show when about=false -->
<template x-if="!about" >
        <!-- footer -->
<span x-init="$el.innerHTML=(await axios.get('Components/Shared/Svgs/backgroundSVG/svg1.html')).data">

</span>
</template>

<!-- show when home=true -->
<template x-if="home">
    <span x-init="$el.innerHTML=(await axios.get('Components/Shared/Svgs/backgroundSVG/svg2.html')).data">

    </span>
</template>

<!-- show when features=true -->

<template x-if="features">
    <span x-init="$el.innerHTML=(await axios.get('Components/Shared/Svgs/backgroundSVG/svg3.html')).data">

    </span>
</template>