<ul class="space-y-2">
    <li x-on:click="ContactUs=true,features=false,home=false,pricing=false,about=false,blog=false,Forget=false,SignIn=false,SignUp=false,Support404=false" class="transition duration-150 hover:text-neon-blue-hover cursor-pointer">Contact us</li>
    <li class="transition duration-150 hover:text-neon-blue-hover cursor-pointer">Help Center</li>
    <li x-on:click="Support404=true,ContactUs=false,features=false,home=false,pricing=false,about=false,blog=false,Forget=false,SignIn=false,SignUp=false" class="transition duration-150 hover:text-neon-blue-hover cursor-pointer">404</li>
</ul>