<!--About us-->
<section id="About " class="mt-10  ">
 
    <div class="w-full mx-auto space-y-8  mt-20">
        <h1 class="font-bold invisible text-4xl text-left"
            x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')">Bringing the world's ideas to life<br>
            developers and designers
        </h1>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="grid grid-cols-2 space-y-10 mr-5">
    



            <div class="mx-2  ">
                <img src="/img/blog-post-01.jpg" alt="" class="-translate-x-5 -translate-y-5 bg-red-900">
            </div>
    
    
    
            <div class="mx-2">
                <div class="ml-5 ">
                    <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
                    <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
                    <h1 class="text-3xl my-4 font-bold">Designing a functional workflow at home.</h1>
                    <p class="text-lg text-gray-400 max-w-xl font-bold">Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    <div class="flex items-center mt-3">
                        <a href="" class=""><img src="/img/news-author-04.jpg" alt="" class="rounded-full w-10 h-10">
                            <h1 class="pl-3 text-sm">hris Solerieu - <span class="text-gray-500">
                        </a> Jan 19, 2020</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

       

</section> 


