<!--bringing-->
<div id="bringing" class=" text-center">
    <h1 class="text-4xl text-white font-bold invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> Bringing the world's ideas to
        life

    </h1>
    <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-5 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

</div>
<div class="max-w-[48rem] mx-auto ">
    <div class="grid grid-cols-12 grid-rows-5 invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-1 sm:row-span-1 flex items-end">
            <p class="font-arch-daug text-neon-blue text-xl pb-2">The seed</p>

        </div>
        <div class="col-span-4 sm:col-span-3 md:col-span-2 row-span-4 relative">
            <div class="w-1 border-r border-dashed border-cadet-grey h-[120%] absolute top-[1.4rem] right-[0.7rem] sm:right-[1.2rem]"></div>
            <div class="flex gap-x-4 items-center justify-end pr-2 sm:pr-4 w-full ">
                <span class="bg-[#bbf7d0] rounded-2xl px-3 py-1 text-green-pigment">2016</span>
                <span class="w-2 h-2 bg-neon-blue rounded-full"></span>
            </div>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 sm:row-span-1  ">
            <h2 class="text-2xl font-bold">
                Open PRO was founded in Milan, Italy
            </h2>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 ">
            <p class="text-cadet-grey">
                Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam
                vestibulum
                morbi blandit cursus risus.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-12 grid-rows-5 invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-1 sm:row-span-1 flex items-end">
            <p class="font-arch-daug text-neon-blue text-xl pb-2">The seed</p>

        </div>
        <div class="col-span-4 sm:col-span-3 md:col-span-2 row-span-4 relative">
            <div class="w-1 border-r border-dashed border-cadet-grey h-[120%] absolute top-[1.4rem] right-[0.7rem] sm:right-[1.2rem]"></div>
            <div class="flex gap-x-4 items-center justify-end pr-2 sm:pr-4 w-full ">
                <span class="bg-[#bbf7d0] rounded-2xl px-3 py-1 text-green-pigment">2016</span>
                <span class="w-2 h-2 bg-neon-blue rounded-full"></span>
            </div>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 sm:row-span-1  ">
            <h2 class="text-2xl font-bold">
                Open PRO was founded in Milan, Italy
            </h2>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 ">
            <p class="text-cadet-grey">
                Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam
                vestibulum
                morbi blandit cursus risus.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-12 grid-rows-5 invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-1 sm:row-span-1 flex items-end">
            <p class="font-arch-daug text-neon-blue text-xl pb-2">The seed</p>

        </div>
        <div class="col-span-4 sm:col-span-3 md:col-span-2 row-span-4 relative">
            <div class="w-1 border-r border-dashed border-cadet-grey h-[120%] absolute top-[1.4rem] right-[0.7rem] sm:right-[1.2rem]"></div>
            <div class="flex gap-x-4 items-center justify-end pr-2 sm:pr-4 w-full ">
                <span class="bg-[#bbf7d0] rounded-2xl px-3 py-1 text-green-pigment">2016</span>
                <span class="w-2 h-2 bg-neon-blue rounded-full"></span>
            </div>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 sm:row-span-1  ">
            <h2 class="text-2xl font-bold">
                Open PRO was founded in Milan, Italy
            </h2>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 ">
            <p class="text-cadet-grey">
                Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam
                vestibulum
                morbi blandit cursus risus.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-12 grid-rows-5 invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-1 sm:row-span-1 flex items-end">
            <p class="font-arch-daug text-neon-blue text-xl pb-2">The seed</p>

        </div>
        <div class="col-span-4 sm:col-span-3 md:col-span-2 row-span-4 relative">
            <!-- <div class="w-1 border-r border-dashed border-cadet-grey h-[120%] absolute top-[1.4rem] right-[0.7rem] sm:right-[1.2rem]"></div> -->
            <div class="flex gap-x-4 items-center justify-end pr-2 sm:pr-4 w-full ">
                <span class="bg-[#bbf7d0] rounded-2xl px-3 py-1 text-green-pigment">2016</span>
                <span class="w-2 h-2 bg-neon-blue rounded-full"></span>
            </div>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 sm:row-span-1  ">
            <h2 class="text-2xl font-bold">
                Open PRO was founded in Milan, Italy
            </h2>
        </div>
        <div class="col-start-5 col-span-8 sm:col-start-4 sm:col-span-9 md:col-start-3 md:col-span-10 row-span-2 ">
            <p class="text-cadet-grey">
                Pretium lectus quam id leo. Urna et pharetra pharetra massa massa. Adipiscing enim eu neque aliquam
                vestibulum
                morbi blandit cursus risus.
            </p>
        </div>
    </div>
</div>