
<!--Bringing-->
<div id="Bringing" class="mt-20 text-center spa">
    <h1 class="text-5xl text-white font-bold invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> Bringing the world's ideas to life
    </h1>
    <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-5 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="text-lg text-gray-500 pt-7 invisible">

    </p>
</div>

