<!--customers-->
<div id="customers" class="mt-20 text-center  ">
    <h1 class="text-4xl text-white font-bold invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> Our customers span the globe

    </h1>
    <p class="text-xl text-pantone-7543 py-2 max-w-3xl mx-auto mt-5 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

</div>


<div class="mt-10 ">
    <div class="grid grid-cols-4   gap-3    ">
        <div class=" border-2 border-zinc-800  p-4  flex items-center justify-center ">
            <span class="  " x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/facebooksvg.html')).data" ></span>
        </div>

        <div class="  border-2 border-zinc-800 p-4  flex items-center justify-center r">
            <span class=" " x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/tindersvg.html')).data" ></span>
        </div>

        <div class="  border-2  border-zinc-800 p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/airbnbsvg.html')).data" ></span>
        </div>

        <div class="  border-2  border-zinc-800  p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/hubspootsvg.html')).data" ></span>
        </div>

        <div class="  border-2  border-zinc-800  p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/googlesvg.html')).data" ></span>
        </div>

        <div class=" border-2  border-zinc-800  p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/microsoftsvg.html')).data" ></span>
        </div>

        <div class="  border-2  border-zinc-800  p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/amazonsvg.html')).data" ></span>
        </div>

        <div class="  border-2  border-zinc-800  p-4  flex items-center justify-center ">
            <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/customersSvg/instagramsvg.html')).data" ></span>
        </div>

    </div>
</div>