<!--gallery-->

<div class="relative w-full -top-5 px-10 max-w-2xl mx-auto">
    <div class="relative w-full -top-5 px-10 max-w-2xl mx-auto">

    <div class="max-w-xl mx-auto w-full absolute">
        <div class="   absolute    ">
            <img src="   /img/team-mosaic-02.jpg" alt="" class="h-auto w-[20rem] left-24 ">
        </div>
    </div>
    <div class="">
        <img src="/img/team-mosaic-01.jpg" alt="" class="h-auto w-[50rem] ">

    </div>
    <div class="absolute">
        <img src="/img/team-mosaic-03.jpg" alt="" class="right-0 top-5">
    </div>
    <div class="">
        <img src="" alt="" class="">
    </div>
</div>
</div>