<!--openpsitions-->
<div class="text-xl py-2 max-w-4xl mx-auto mt-5  px-16 ">
    <h1 class="text-3xl font-bold space-y-10">Open positions</h1>
    <div class="border-bottom-raisin-black">
        <h1 class="text-pantone-2736 text-xl mt-7  font-bold mx-auto">Lead Product Designer</h1>
        <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html')).data"></span>

        <p class="text-cadet-grey mt-4">You'll be joing the Experience Design Team as a Lead Product Designer. You'll
            interface daily with
            developers - encouraging and advancing best practices in software.
        </p>
        <ul class=" flex list-none relative ">
            <li class="text-cadet-grey text-lg   ">
                <span class="absolute  "
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/openpositionSvg.html')).data">
                </span>
                <span class="mx-6 mt-1"> Anywhere (EU timezone)</span>
            </li>
            <li class="text-cadet-grey text-lg px-20">
                <span class="absolute" x-init="$el.innerHTML=(await
                    axios.get('Components/About/svg/positionSvg.html')).data"></span>
                    <span class="mx-6 mt-1"> $70k -$120</span>
            </li>
        </ul>

    </div>
</div>


<div class="text-xl py-2 max-w-4xl mx-auto mt-5  px-16 ">
    <div class="border-bottom-raisin-black">
        <h2 class="text-pantone-2736 text-xl mt-7  font-bold " x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html)).data">Lead Product Designer</h2>
        <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html)).data"></span>

        <p class="text-cadet-grey mt-4">You'll be joing the Experience Design Team as a Lead Product Designer. You'll
            interface daily with
            developers - encouraging and advancing best practices in software.
        </p>
        <ul class=" flex list-none relative ">
            <li class="text-cadet-grey text-lg   ">
                <span class="absolute"
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/openpositionSvg.html')).data">
                </span>
                <span class="mx-6 mt-1"> Anywhere (EU timezone)</span>
            </li>
            <li class="text-cadet-grey text-lg px-20">
                <span class="absolute" x-init="$el.innerHTML=(await
                    axios.get('Components/About/svg/positionSvg.html')).data"></span> 
                    <span class="mx-6 mt-1">$70k -$120</span>
            </li>
        </ul>
    </div>
</div>


<div class="text-xl py-2 max-w-4xl mx-auto mt-5  px-16 border-bottom-raisin-black">
    <div class="border-bottom-raisin-black">
        <h2 class="text-pantone-2736 text-xl mt-7  font-bold">Lead Product Designer</h2>
        <span class="" x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html)).data"></span>

        <p class="text-cadet-grey mt-4">You'll be joing the Experience Design Team as a Lead Product Designer. You'll
            interface daily with
            developers - encouraging and advancing best practices in software.
        </p>
        <ul class=" flex list-none relative ">
            <li class="text-cadet-grey text-lg   ">
                <span class="absolute"
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/openpositionSvg.html')).data">
                </span>
                <span class="mx-6 mt-1"> Anywhere (EU timezone)</span>
            </li>
            <li class="text-cadet-grey text-lg px-20">
                <span class="absolute" x-init="$el.innerHTML=(await
                    axios.get('Components/About/svg/positionSvg.html')).data"></span> 
                    <span class="mx-6  ">$70k -$120</span>
            </li>
        </ul>
    </div>
</div>