<!--openpsitions-->
<div class="border-bottom-raisin-black">
    <div class="text-xl py-2 max-w-4xl mx-auto mt-5  px-16  ">
        <h1 class="text-3xl font-bold space-y-10">Open positions</h1>

        <div class="border-bottom-raisin-black relative">
            <a href="" class="flex  mt-5 group ">
                <h1 class="text-pantone-2736 text-xl   font-bold mr-auto group-hover:text-white">Lead Product Designer
                </h1>
                <span class="group-hover:stroke-white stroke-neon-blue"
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html')).data">
                </span>
            </a>

            <p class="text-cadet-grey mt-4 leading-6">You'll be joing the Experience Design Team as a Lead Product
                Designer.
                You'll interface daily with developers - encouraging and advancing best practices in software.
            </p>
            <div class="text-lg  justify-start  mt-5  ">
                <div class="flex justify-start items-center">
                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position1Svg.html')).data"></span>

                    <span class="mr-20"> Anywhere (EU timezone)</span>

                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position2Svg.html')).data">
                    </span>
                    <span class="">
                        $70k -$120
                    </span>
                </div>
            </div>

        </div>


        <div class="border-bottom-raisin-black relative">

            <a href="" class="flex  mt-5 group ">
                <h1 class="text-pantone-2736 text-xl   font-bold mr-auto group-hover:text-white">Front-end Engineer</h1>
                <span class="group-hover:stroke-white stroke-neon-blue"
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html')).data">
                </span>
            </a>
            <p class="text-cadet-grey mt-4 leading-6">You'll be joing the Experience Design Team as a Lead Product
                Designer.
                You'll interface daily with developers - encouraging and advancing best practices in software.
            </p>
            <div class="text-lg  justify-start  mt-5  ">
                <div class="flex justify-start items-center">
                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position1Svg.html')).data"></span>

                    <span class="mr-20"> Anywhere (EU timezone)</span>

                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position2Svg.html')).data">
                    </span>
                    <span class="">
                        $70k -$120
                    </span>
                </div>
            </div>

        </div>
        <div class="border-bottom-raisin-black relative">

            <a href="" class="flex  mt-5 group ">
                <h1 class="text-pantone-2736 text-xl   font-bold mr-auto group-hover:text-white">Product Manager</h1>
                <span class="group-hover:stroke-white stroke-neon-blue"
                    x-init="$el.innerHTML=(await axios.get('Components/About/svg/arrowpositionSvg.html')).data">
                </span>
            </a>
            <p class="text-cadet-grey mt-4 leading-6">You'll be joing the Experience Design Team as a Lead Product
                Designer.
                You'll interface daily with developers - encouraging and advancing best practices in software.
            </p>
            <div class="text-lg  justify-start  mt-5  ">
                <div class="flex justify-start items-center">
                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position1Svg.html')).data"></span>

                    <span class="mr-20"> Anywhere (EU timezone)</span>

                    <span class="mr-2 "
                        x-init="$el.innerHTML=(await axios.get('Components/About/svg/position2Svg.html')).data">
                    </span>
                    <span class="">
                        $70k -$120
                    </span>
                </div>
            </div>

        </div>

    </div>

</div>