<!--passionate-->
<div id="passionate" class="mt-20 text-center border-bottom-raisin-black ">
    <h1 class="text-5xl text-white font-bold invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> Our passionate team
    </h1>
    <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-5 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consequat.
    </p>

    <div class="grid grid-cols-4 leading-7">
        <div class="flex flex-col items-center invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
            <img src="/img/team-member-01.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Lara Lamprecht</h1>
            <h2 class="text-cadet-grey ">CEO & Co-founder</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@laraamprecht</a>
        </div>

        <div class="flex flex-col items-center invisible " x-intersect.half="sleep(100).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-02.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x text-2x">Marie Koniuszek</h1>
            <h2 class="text-cadet-grey">CEO & Co-founder</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">
                @marie_moon</a>
        </div>

        <div class="flex flex-col items-center invisible" x-intersect.half="sleep(200).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-03.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class=" text-3x ">Greg Sebastian</h1>
            <h2 class="text-cadet-grey">Head of Design</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@mr_sebastian</a>
        </div>

        <div class=" flex flex-col items-center invisible" x-intersect.half="sleep(300).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-04.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Timothy Chandran</h1>
            <h2 class="text-cadet-grey">Product Executive</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@timothychandran</a>
        </div>

        <div class=" flex flex-col items-center invisible " x-intersect.half="sleep(400).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-05.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Dominik Prasad</h1>
            <h2 class="text-cadet-grey">Backend Lead</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@dominikprasad</a>
        </div>

        <div class=" flex flex-col items-center invisible" x-intersect.half="sleep(500).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-06.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Darya Semenova</h1>
            <h2 class="text-cadet-grey">Backend Developer</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">
                @daryamagic</a>
        </div>

        <div class=" flex flex-col items-center invisible" x-intersect.half="sleep(600).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-07.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Quentin Renvoye</h1>
            <h2 class="text-cadet-grey">Product Designer
            </h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@quentinrenvoye</a>
        </div>

        <div class="flex flex-col items-center invisible" x-intersect.half="sleep(700).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <img src="/img/team-member-08.jpg" alt="" class="w-28 h-28 rounded-full">
            <h1 class="text-3x">Alyssa Chuzeville</h1>
            <h2 class="text-cadet-grey">Community Lead</h2>
            <a href="" class="text-blue-900 hover:text-white mb-4">@hello_chuzeville</a>
        </div>

    </div>



</div>