
<!--story-->

<section id="story" class="">
   <div class=" top-0 bottom-0 left-0 right-0  absolute ">
    <img src="/img/about-hero.jpg" alt="about" class="object-cover min-w-full opacity-25 z-0">
   </div> 
   <div id="Bringing" class="mt-36 text-center relative">
    <h1 class="text-5xl text-white font-extrabold invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> The story behind the project
    </h1>
    <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-10 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Developers are trusted to create an engaging experience for their companies, so we build tools to help them.
    </p>
</div>
</section>




<!-- <div class="w-fit relative">
    <img src="/img/features-avatar.jpg" alt="" class=" w-12  h-12 rounded-full ">
    <span class=" absolute -right-3 top-0"
        x-init="$el.innerHTML=(await axios.get('Components/pricing/svg/prisingSvg.html')).data"></span>
</div> -->