
<!--story-->
<div id="story" class="mt-20 h-[600px]">
    <img src="/img/about-hero.jpg" alt="" class="  relative  z-0">
    <!-- <h1 class="text-center justify-center text-5xl text-white font-bold invisible absolute  "
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> The story behind the project
    </h1>
    <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-5 justify-center invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Developers are trusted to
        create an engaging experience for their companies, so we build tools to help them. -->


    </p>
<img src="/img/team-mosaic-01 (1).jpg" alt="" class="w-[600px] h-[300px] left-[700px] absolute   z-20 top-[30%] flex">
<img src="/img/team-mosaic-02 (1).jpg (1).jpg" alt="" class="top-[45%] right-[400x] absolute z-10  ">
<img src="" alt="" class="">

    <p class="text-lg text-gray-500 pt-7 invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> Billed Monthly Billed
        Annually </p>
</div>