<!--story-->
<div class="h-[20.8rem]">
    <div class="top-0 h-[25.8rem] inset-x-0 absolute bg-no-repeat bg-center bg-cover opacity-20" style="background-image: url('/img/about-hero.jpg');">

    </div>
    <div id="Bringing" class="text-center top-0 h-[25.8rem] inset-x-0 absolute flex flex-col justify-center items-cente">
        <h1 class="text-5xl text-white font-extrabold invisible"
            x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')"> The story behind the
            project
        </h1>
        <p class="text-xl text-cadet-grey py-2 max-w-3xl mx-auto mt-10 justify-center invisible"
            x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Developers are trusted to
            create an engaging experience for their companies, so we build tools to help them.
        </p>
    </div>
</div>