
<!--contatcbtn-->
<div id="contatcbtn" class=" border-bottom-raisin-black invisible"
    x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
    <div class="justify-between flex ">
        <h1 class="text-xl font-bold">Expecting more than 1000 Active End Users?</h1>
        <div class="text-md font-bold">
            <div class="btn btn-neon-blue">Contact us</div>
        </div>
    </div>
</div>

<!-- <div class=" border-bottom-raisin-black  invisible"

    x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">

    <div class="grid grid-cols-1 md:grid-cols-2 ">

        <h1 class="text-xl font-bold ">Expecting more than 1000 Active End Users? </h1>

        <div class="gap-x-4  text-md font-bold  ">
            <div class="btn btn-neon-blue ">Contact us</div>
        </div>
    </div>

</div>




<div id="contatcbtn" class="float  border-bottom-raisin-black invisible"
    x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
    <h1 class="text-xl font-bold float-left">Expecting more than 1000 Active End Users?</h1>
    <div class="btn btn-neon-blue float-right">Contact us</div>
</div> -->