
    

    <!--Frequently-->
    <div id="Frenquently" class="mx-auto   invisible border-bottom-raisin-black" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
        <h1 class="max-w-3xl text-4xl font-bold  mx-auto mt-5 justify-center text-center" >Frequently asked questions
        </h1>

        <div class="mt-8  mb-10">
            <div class="grid grid-cols-1 md:grid-cols-2 ">
                <div class="space-y-12 mx-3">
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>

                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class=" text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                </div>

                <div class="space-y-12 mx-3">
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>

                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

   

