<!-- home-content-first -->
<div class="text-center font-bold max-w-3xl mx-auto pb-20">

    <h2 x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')"
        class="text-white-grey text-[2.5rem] mb-4 invisible">
        Built exclusively for you
    </h2>
    <p x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')"
        class="text-cadet-grey text-xl invisible">Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit laborum — semper quis lectus nulla.
    </p>

</div>

<!-- home-content-second -->
<div class="grid grid-cols-3 mx-auto gap-x-8 ">

    <!-- first colmun -->
    <div x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')"
        class="invisible items-center flex flex-col relative">
        <!-- line -->
        <div class="h-1 border-b border-dashed border-white-grey absolute line-exclusively"></div>

        <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/fcSvg.html')).data">


        </span>


        <h4 class="text-white-grey mb-2 text-2xl font-bold mt-4"><span class="text-cadet-grey">1</span>. Acquisition
        </h4>
        <p class="text-lg text-cadet-grey text-center">Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.
        </p>
    </div>
    <!-- second colmun -->
    <div x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')"
        class="invisible items-center flex flex-col relative">

        <!-- line -->
        <div class="h-1 border-b border-dashed border-white-grey absolute line-exclusively"></div>

        <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/scSvg.html')).data"></span>

        <h4 class="text-white-grey mb-2 text-2xl font-bold "><span class="text-cadet-grey">2</span>. Activation</h4>
        <p class="text-lg text-cadet-grey text-center">Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.
        </p>
    </div>
    <!-- third colmun -->
    <div x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')"
        class="invisible items-center flex flex-col ">
        <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/tcSvg.html')).data"></span>

        <h4 class="text-white-grey mb-2 text-2xl font-bold "><span class="text-cadet-grey">3</span>. Retention</h4>
        <p class="text-lg text-cadet-grey text-center">Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.
        </p>
    </div>
</div>