<!-- News -->
<ul class="list-none">
    <li class="py-1 border-t border-gray-400"></li>
</ul>

<section id="News " class="mt-10  ">

    <div class=" max-w-3xl  mx-auto mt-5 justify-center text-center">
        <h1 class="text-4xl text-white font-bold">Refreshing news for developers and designers</h1>
    </div>

    <div class="mx-auto  my-14 ">

        <div class="grid grid-cols-1 md:grid-cols-3 ">

            <div class="mx-3 ">
                <img src="/img/news-01.jpg " alt="" class="pb-5 hover:scale-100 hover:cursor-pointer hover: delay-75">
                <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
                <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
                <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
                <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <div class="flex items-center mt-5">
                    <img src="/img/news-author-01.jpg" alt="" class="rounded-full w-8 h-8">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500"> - Jan 17, 2020</span> </h1>
                    </a>
                </div>
            </div>


            <div class="mx-3">
                <img src="/img/news-02.jpg " alt="" class="pb-5 hover:scale-100 hover:cursor-pointer hover: delay-75">
                <button href="" class="bg-pantone-212c btn-news  hover:bg-pantone-213c">Design</button>
                <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
                <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
                <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <div class="flex items-center mt-5">
                    <img src="/img/news-author-02.jpg" alt="" class="rounded-full w-8 h-8">
                    <h1 class="pl-3 text-sm">Markus Barker <span class="text-gray-500"> - Jan 12, 2020</span> </h1>
                    </a>
                </div>
            </div>


            <div class="mx-3">
                <img src="/img/news-02.jpg " alt="" class="pb-5 hover:scale-100 hover:cursor-pointer hover: delay-75">
                <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
                <button href="" class="bg-pantone-7465c btn-news  hover:bg-pantone-7473c">Tutorials and articles</button>
                <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
                <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <div class="flex items-center mt-5">
                    <img src="/img/news-author-03.jpg" alt="" class="rounded-full w-8 h-8">
                    <h1 class="pl-3 text-sm">Lisa Crockett <span class="text-gray-500"> - Jan 19, 2020</span> </h1>
                    </a>
                </div>
            </div>








        </div>
    </div>
</section>