<!-- News -->
<ul class="list-none">
    <li class="py-1 border-t border-gray-400"></li>
</ul>

<section id="News " class="mt-5 text-center  justify-center">

    <div class="text-white max-w-3xl  mx-auto mt-5">
        <h1 class="text-4xl ">Refreshing news for developers and designers</h1>
    </div>

    <div class="mx-auto  mt-10 ">

        <div class="grid grid-cols-3 ">

            <div class="px-3  ">
                <img src="/img/news-01.jpg " alt="" class="my-5">
                <div class="">
                    <div class="mt-2">
                        <a href="" class="bg-yellow-600 px-5 py-1">product</a>
                        <a href="">Engineering</a>
                    </div>
                    <h1 class="">The quick brown fox jumped over the lazy dog. </h1>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <div class="">
                        <a href="" class="">
                            <img src="/img/news-author-01.jpg" alt="" class="">
                            <h1 class="">Anastasia Dan - Jan 17, 2020</h1>
                        </a>
                        </span>
                    </div>
                </div>
            </div>



            





        </div>
    </div>
</section>