<!--pricing -->
<ul class="list-none">
    <li class="py-1 border-t border-gray-400">

    </li>
</ul>
<section class="mt-10">

    <!--header-->
    <div class="mt-10 text-center">
        <h1 class="text-4xl text-white font-bold  ">Simple, transparent pricing</h1>
        <p class="text-xl text-gray-300 py-3 max-w-3xl  mx-auto mt-5 justify-center ">Our landing page
            template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
        <p class="text-lg text-gray-500"> Billed Monthly Billed Annually </p>
    </div>

    <div id="card" class="text-gray-500 mt-10">

        <div class="grid grid-cols-3 ">
            <div class="bg-pantone-426c p-4 space-y-4 mx-2">
                <h1 class="text-pantone-266c text-xl font-bold ">Essential</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">49</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-300 border-b border-gray-100  pb-4">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4 pb-24">
                    <li class="px-2 text-white font-bold text-base">Features include:</li>
                    <li class="px-2 text-gray-500">50 Placeholder text commonly</li>
                    <li class="px-2 text-gray-500">Consectetur adipiscing elit</li>
                    <li class="px-2 text-gray-500">Excepteur sint occaecat cupidatat</li>
                    <li class="px-2 text-gray-500 ">Officia deserunt mollit anim</li>
                </ul>
                <div class="">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center" > Start free trial</div>
                </div>
            </div>

            <div class="bg-pantone-426c p-4 space-y-4 mx-2">
                <h1 class="text-pantone-266c text-xl font-bold ">Essential</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">49</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-300 border-b border-gray-100  pb-4">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4 pb-24">
                    <li class="px-2 text-white font-bold text-base">Features include:</li>
                    <li class="px-2 text-gray-500">50 Placeholder text commonly</li>
                    <li class="px-2 text-gray-500">Consectetur adipiscing elit</li>
                    <li class="px-2 text-gray-500">Excepteur sint occaecat cupidatat</li>
                    <li class="px-2 text-gray-500 ">Officia deserunt mollit anim</li>
                </ul>
                <div class="">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center" > Start free trial</div>
                </div>
            </div>




            <div class="bg-pantone-426c p-4 space-y-4 mx-2">
                <h1 class="text-pantone-266c text-xl font-bold ">Essential</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">49</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-300 border-b border-gray-100  pb-4">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4 pb-24">
                    <li class="px-2 text-white font-bold text-base">Features include:</li>
                    <li class="px-2 text-gray-500">50 Placeholder text commonly</li>
                    <li class="px-2 text-gray-500">Consectetur adipiscing elit</li>
                    <li class="px-2 text-gray-500">Excepteur sint occaecat cupidatat</li>
                    <li class="px-2 text-gray-500 ">Officia deserunt mollit anim</li>
                </ul>
                <div class="">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center" > Start free trial</div>
                </div>
            </div>
        </div>



    </div>










</section>