<!--pricing -->
<ul class="list-none">
    <li class="py-1 border-t border-gray-400">

    </li>
</ul>
<section class="mt-10">

    <!--header-->
    <div class="mt-10 text-center">
        <h1 class="text-4xl text-white font-bold  ">Simple, transparent pricing</h1>
        <p class="text-xl text-gray-300 py-3 max-w-3xl  mx-auto mt-5 justify-center ">Our landing page
            template works on all devices, so you only have to set it up once, and get beautiful results forever.</p>
        <p class="text-lg text-gray-500"> Billed Monthly Billed Annually </p>
    </div>



    <!--card-->
    <div id="card" class="text-gray-500 my-10 ">
        <div class="grid grid-cols-1 md:grid-cols-3 ">
            <div class="bg-pantone-426c p-4 space-y-4 mx-3">
                <h1 class="text-pantone-266c text-xl font-bold ">Essential</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">49</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-400 border-b border-gray-100  pb-4 ">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4">
                    <li class="px-2 text-white font-bold text-base">Features include:</li>

                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">50 Placeholder text commonly</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Consectetur adipiscing elit</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Excepteur sint occaecat cupidatat</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Officia deserunt mollit anim</span>
                    </li>

                </ul>
                <div class="pt-28">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center "> Start free trial</div>
                </div>
            </div>

            <div class="bg-pantone-426c p-4 space-y-4 mx-3">
                <h1 class="text-pantone-266c text-xl font-bold ">Premium</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">79</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-400 border-b border-gray-100  pb-4">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4 ">
                    <li class="px-2 text-white font-bold text-base">All features of Essential plus:</li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">100 Placeholder text commonly</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Consectetur adipiscing elit</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Excepteur sint occaecat cupidatat</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Officia deserunt mollit anim</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Placeholder text commonly used</span>
                    </li>

                </ul>
                <div class="pt-[118px]">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center"> Start free trial</div>
                </div>
            </div>


            <div class="bg-pantone-426c p-4 space-y-4 mx-4">
                <h1 class="text-pantone-266c text-xl font-bold ">Advanced</h1>
                <div class="">
                    <span class=" text-3xl font-bold  text-gray-500">$</span>
                    <span class="text-4xl font-bold">129</span>
                    <span class="text-xl  text-gray-500">/mo</span>
                </div>
                <p class=" text-gray-400 border-b border-gray-100  pb-4">Better insights for growing businesses that
                    want more customers.</p>
                <ul class="space-y-4 ">
                    <li class="px-2 text-white font-bold text-base">All features of Essential plus:</li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">200 Placeholder text commonly</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Consectetur adipiscing elit</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Excepteur sint occaecat cupidatat</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Officia deserunt mollit anim</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Voluptate velit esse cillum</span>
                    </li>
                    <li class=" flex items-start "><span class="mt-1"
                            x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data">
                        </span>
                        <span class=" text-gray-500">Placeholder text commonly used</span>
                    </li>
                </ul>
                <div class="pt-20">
                    <div class="btn-pricing btn-neon-blue-pricing mt-5 justify-center"> Start free trial</div>
                </div>
            </div>
        </div>
    </div>


    <!--hr-->
    <ul class="list-none">
        <li class="py-1 border-t border-gray-400">

        </li>
    </ul>


    <!--btn contatc-->
    <div class="my-8">
        <div class="justify-between flex ">
            <div class="">
                <h1 class="text-xl font-bold content-center">Expecting more than 1000 Active End Users?</h1>
            </div>
            <div class=" gap-x-4   text-md font-bold ">
                <div class="btn btn-neon-blue ">Contact us</div>
            </div>
        </div>
    </div>


    <!--hr-->
    <ul class="list-none">
        <li class="py-1 border-t border-gray-400">

        </li>
    </ul>


    <!--section Frequently-->
    <div class="   mx-auto my-8   ">
        <h1 class="max-w-3xl text-4xl font-bold  mx-auto mt-5 justify-center text-center">Frequently asked questions
        </h1>

        <div class="mt-8 ">
            <div class="grid grid-cols-1 md:grid-cols-2 ">
                <div class="space-y-12 mx-3">
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>

                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="" text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                </div>

                <div class="space-y-12 mx-3">
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>

                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                    <div class="">
                        <h1 class="text-xl font-bold mb-3">Publishing industries for previewing layouts?</h1>
                        <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--hr-->
    <ul class="list-none">
        <li class="py-1 border-t border-gray-400">

        </li>
    </ul>


    <!--card secend-->
    <div class=" max-w-3xl  mx-auto my-4 justify-center text-center">
        <h1 class="text-4xl text-white font-bold mt-5">Don't take our word for it</h1>
        <p class="pt-5 text-gray-400 text-xl">Vitae aliquet nec ullamcorper sit amet risus nullam eget felis semper quis lectus nulla at volutpat
            diam ut venenatis tellus—in ornare.</p>



    </div>

















</section>