<!-- prodius -->
<section id="prodius " class="text-white ">

    <div class="text-center ">
        <div class="p-5 mb-3"> <span
                class="text-center text-base bg-green-200 text-green-700   rounded-3xl  font-sans font-bold px-4 py-1.5">Reach
                goals that matter
            </span></div>
        <p class="text-5xl mb-8 font-extrabold font-sans ">One product, unlimited solutions</p>
        <p class=" text-xl text-slate-400 ">Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt <br> mollit laborum — semper quis lectus nulla.</p>
    </div>

    <div class="px-36 mt-20">
        <div class="mt-10">
            <div class="grid grid-cols-2  ">
                <div class="my-10 ml-20">
                    <h1 class="mb-6 text-lg text-blue-600 "> More speed. Less spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" max-w-lg  text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 text-green-600 font-serif font-extrabold my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg></i>
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-01.png " class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>


        <div class="mt-10">
            <div class="grid grid-cols-2">
                <div class="">
                    <img src="..//img/features-03-image-02.png" class="w-[550px] h-[400px]" alt="">
                </div>
                <div class="my-10 ml-20">
                    <h1 class="mb-6 text-lg text-blue-600 "> More speed. Less spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" max-w-lg  text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 text-green-600 font-serif font-extrabold my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg></i>
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>

            </div>
        </div>


        <div class="mt-10">
            <div class="grid grid-cols-2">
                <div class="my-10 ml-20">
                    <h1 class="mb-6 text-lg text-blue-600 "> More speed. Less spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" max-w-lg  text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg"  class="w-4 h-4 text-green-600 font-serif font-extrabold my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg></i>
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600 font-serif font-extrabold  my-1" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-03.png" class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>



    </div>




</section>