<!-- prodius -->
<ul class="list-none">
    <li class="py-1 border-t border-gray-400">

    </li>
</ul>
<section id="produce " class="text-white  ">

    <div class="text-center mt-20">
        <div class=""> <span
                class="text-center text-base bg-green-200 text-green-600   rounded-3xl  font-sans font-bold px-4 py-1.5">Reach
                goals that matter</span></div>
        <p class="text-4xl mt-6 font-extrabold font-sans ">One product, unlimited solutions</p>
        <p class=" text-xl mt-6 text-slate-400 ">Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt <br> mollit laborum — semper quis lectus nulla.</p>
    </div>

    <div class=" mt-20">
        <div class="mt-10">
            <div class="grid grid-cols-1 md:grid-cols-2  ">
                <div class="my-10 mr-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-01.png " class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>


        <div class="mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2   ">
                <div class="">
                    <img src="..//img/features-03-image-02.png " class="w-[550px] h-[400px]" alt="">
                </div>
                <div class="my-10 ml-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2   ">
                <div class="my-10 mr-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  text-slate-400 ">
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Duis aute irure dolor in reprehenderit</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Excepteur sint occaecat</p>
                        <p class="flex gap-x-1 text-slate-400"
                            x-init="$el.innerHTML=(await axios.get('Home/Svgs/produceSvg.html')).data">
                            Amet consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-03.png " class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>

    </div>
    
</section>
