<!-- Stay in -->
<div class="bg-neon-blue  mx-auto  text-center lg:text-left relative "
    x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">
    <span class="absolute right-0 top-0"
        x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/stayIn/skySvg.html')).data">
    </span>
    <div class="grid grid-cols-1 lg:grid-cols-2 py-16  z-20 gap-y-3 justify-items-center">
        <!-- colmun one -->
        <div class="">
            <h3 class=" font-bold text-[2rem]  ">Stay in the loop</h3>
            <p class="text-white-grey text-lg">Join our newsletter to get top news before anyone else.</p>
        </div>
        <!-- colmun two -->

        <div class="relative flex items-center ">
            <span class="absolute right-0 bottom-7"
                x-init="$el.innerHTML=(await axios.get('Components/shared/Svgs/footer/skySvg.html')).data">
            </span>

            <div class=" flex items-center ">



                <div class="flex items-center flex-col sm:flex-row z-50">
                    <input type="email" class="mb-2 sm:mb-0 outline-neon-blue-hover py-3 px-4 mr-2 border border-[#8D8DFF] bg-neon-blue-hover
                     text-white rounded-sm " placeholder="Your best email…" aria-label="Your best email…">

                    <a class="transition duration-150 bg-white-grey hover:bg-white text-neon-blue py-3 px-8 rounded-sm" href="#0">Subscribe</a>


                </div>


            </div>

        </div>


    </div>