<section class="text-center pt-20 border-t border-raisin-black">
    <div class="max-w-3xl mx-auto pb-20">
        <h2 class="text-[2.5rem] font-bold">Refreshing news for developers and designers</h2>
        <p class="text-xl text-cadet-grey m-0">Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit laborum — semper quis lectus nulla.</p>
    </div>
    <div class="flex flex-col mx-auto max-w-sm md:max-w-none md:flex-row gap-6 text-left">
        <article class="overflow-hidden">
            <a href="#" class="relative">
                <img class="hover:scale-101 transition-all duration-700 object-cover w-100 h-100"
                     src="../dist/img/card-article/news-10.jpg" alt="news"/>
                <span
                        class="text-xs py-1 px-3 absolute top-4 right-4 bg-eerie-black opacity-75 rounded-full">Case
                                    study</span>
            </a>
            <div class="p-6 bg-raisin-black flex flex-col">
                <h3 class="mb-2 font-bold -tracking-m-wide">
                    <a class="text-2xl" href="#">How to build anything</a>
                </h3>
                <p class="text-cadet-grey text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                <div>
                    <a class="mt-6 px-4 py-2 bg-neon-blue hover:bg-neon-blue-hover inline-flex"
                       href="#">
                        <span>Learn more</span>
                        <svg class="fill-cadet-grey w-3 ml-2" viewBox="0 0 12 12"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 5H0v2h6v4l6-5-6-5z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        <article class="overflow-hidden">
            <a href="#" class="relative">
                <img class="hover:scale-101 transition-all duration-700"
                     src="../dist/img/card-article/news-11.jpg" alt="news"/>
                <span
                        class="text-xs py-1 px-3 absolute top-4 right-4 bg-eerie-black opacity-75 rounded-full">Case
                                    study</span>
            </a>
            <div class="p-6 bg-raisin-black flex flex-col">
                <h3 class="mb-2 font-bold -tracking-m-wide">
                    <a class="text-2xl" href="#">How to build anything</a>
                </h3>
                <p class="text-cadet-grey text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                <div>
                    <a class="mt-6 px-4 py-2 bg-neon-blue hover:bg-neon-blue-hover inline-flex"
                       href="#">
                        <span>Learn more</span>
                        <svg class="fill-cadet-grey w-3 ml-2" viewBox="0 0 12 12"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 5H0v2h6v4l6-5-6-5z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        <article class="overflow-hidden">
            <a href="#" class="relative">
                <img class="hover:scale-101 transition-all duration-700"
                     src="../dist/img/card-article/news-12.jpg" alt="news"/>
                <span
                        class="text-xs py-1 px-3 absolute top-4 right-4 bg-eerie-black opacity-75 rounded-full">Case
                                    study</span>
            </a>
            <div class="p-6 bg-raisin-black flex flex-col">
                <h3 class="mb-2 font-bold -tracking-m-wide">
                    <a class="text-2xl" href="#">How to build anything</a>
                </h3>
                <p class="text-cadet-grey text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                <div>
                    <a class="mt-6 px-4 py-2 bg-neon-blue hover:bg-neon-blue-hover inline-flex"
                       href="#">
                        <span>Learn more</span>
                        <svg class="fill-cadet-grey w-3 ml-2" viewBox="0 0 12 12"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 5H0v2h6v4l6-5-6-5z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>
