<!--keeptrack-->
<div class="max-w-3xl w-full mx-auto space-y-8 text-center mt-20">
    <h1 class="font-features invisible"
        x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">Keep track of every important
        detail
    </h1>
    <p class="text-cadet-grey text-xl invisible"
        x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')">Every feature in Open PRO
        makes things easy to build, pleasant to create, and simple to manage.</p>
    <img src="/img/hero-image-02.png" alt="hero" class="pt-10 invisible" x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">
</div>









