<!--keeptrack-->
<div class="max-w-3xl w-full mx-auto space-y-8 text-center mt-20">
    <h1 class="font-features invisible"
        x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')">Keep track of every important
        detail
    </h1>
    <p class="text-cadet-grey text-xl invisible"
        x-intersect.half="$el.classList.add('fade-up');$el.classList.remove('invisible')">Every feature in Open PRO
        makes things easy to build, pleasant to create, and simple to manage.</p>
    <img src="/img/hero-image-02.png" alt="hero" class="pt-10">
</div>




<!--product teams-->
<div id="product-teams" class=" ">
    <div class="max-w-3xl w-full mx-auto  text-center mt-20">
        <h1 class="font-features">Integrated workflow designed for product teams</h1>
        <p class="text-cadet-grey text-xl mt-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
            deserunt mollit laborum —semper quis lectus nulla.</p>
    </div>
    <div class="text-center bg-pantone-426c my-16">
        <div class="grid grid-cols-3 py-12 mt-10 ">
            <div class="px-5 border-r border-slate-700">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5">"179K</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
            <div class="px-5 border-r border-slate-700 ">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5">147%</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
            <div class="px-5 ">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5">$97K</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
        </div>
    </div>



</div>


<!-- oneproduct -->
<ul class="list-none">
    <li class=" border-t border-gray-700"> </li>
</ul>

<section id="one-product" class="text">
    <div class="text-center mt-20">
        <div class="">
            <span
                class="text-center text-base bg-green-200 text-green-600   rounded-3xl  font-sans font-bold px-4 py-1.5">Reach
                goals that matter
            </span>
        </div>
        <h2 class="font-features mt-5 ">One product, unlimited solutions</h2>
        <p class=" text-xl mt-6 text-slate-400 ">Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt <br> mollit laborum — semper quis lectus nulla.</p>
    </div>

    <div class="mt-20">
        <div class="mt-10">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="my-10 mr-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1   space-y-1">
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Duis aute irure dolor in reprehenderit</span>
                        </p>
                        <p class="flex gap-x-1 ">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400"> Excepteur sint occaecat</span>
                        </p>
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Amet consectetur adipiscing elit</span>
                        </p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-01.png " class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>


        <div class="mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2   ">
                <div class="">
                    <img src="..//img/features-03-image-02.png " class="w-[550px] h-[400px]" alt="">
                </div>
                <div class="my-10 ml-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1  space-y-1 ">
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Duis aute irure dolor in reprehenderit</span>
                        </p>
                        <p class="flex gap-x-1 ">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400"> Excepteur sint occaecat</span>
                        </p>
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Amet consectetur adipiscing elit</span>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-20">
            <div class="grid grid-cols-1 md:grid-cols-2   ">
                <div class="my-10 mr-20">
                    <h1 class="mb-6 text-lg text-blue-600 " style="font-family:Architects Daughter;"> More speed. Less
                        spend</h1>
                    <p class="mb-4 text-3xl font-bold">Keep projects on schedule</p>
                    <p class=" text-slate-400 mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class=" mx-1 space-y-1 ">
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Duis aute irure dolor in reprehenderit</span>
                        </p>
                        <p class="flex gap-x-1 ">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400"> Excepteur sint occaecat</span>
                        </p>
                        <p class="flex gap-x-1">
                            <span
                                x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/built_exclusively/checkSvg.html')).data"></span>
                            <span class=" text-slate-400">Amet consectetur adipiscing elit</span>
                        </p>
                    </div>
                </div>
                <div class="">
                    <img src="..//img/features-03-image-03.png " class="w-[550px] h-[400px]" alt="">
                </div>
            </div>
        </div>

    </div>

</section>

<!--themajority-->
<ul class="list-none">
    <li class=" border-t border-gray-700 my-20"> </li>
</ul>

<section class="">
    <div class="max-w-3xl w-full mx-auto  text-center mt-20">
        <h1 class="font-features">Instant Features</h1>
        <p class="text-cadet-grey text-xl mt-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
    </div>
    <div class="text-center">
        <div class="grid grid-cols-3 gap-x-4">
            <div class="">
                <div class="">
                    <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant1Svg.html')).data"></span>      -->
                     <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
                <div class="">
                  <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant4Svg.html')).data"></span> -->
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
            </div>


            <div class="">
                <div class="">
                    <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant2Svg.html')).data"></span> -->
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
                <div class="">
                    <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant5Svg.html')).data"></span> -->
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
            </div>



            <div class="">
                <div class="">
                    <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant3Svg.html')).data"></span> -->
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>             
                <div class="">
                    <!-- <span x-init="$el.innerHTML=(await axios.get('Components/Home/Svgs/features/instant6Svg.html')).data"></span> -->
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
            </div>

        </div>


    </div>
</section>