<!--product teams-->
<div id="product-teams" class=" ">
    <div class="max-w-3xl w-full mx-auto  text-center mt-20">
        <h1 class="font-features">Integrated workflow designed for product teams</h1>
        <p class="text-cadet-grey text-xl mt-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
            deserunt mollit laborum —semper quis lectus nulla.</p>
    </div>
    <div class="text-center bg-pantone-426c my-16">
        <div class="grid grid-cols-3 py-12 mt-10 ">
            <div class="px-5 border-r border-slate-700 invisible" x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5">"179K</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
            <div class="px-5 border-r border-slate-700 invisible" x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5">147%</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
            <div class="px-5 invisible"  x-intersect.full="$el.classList.add('fade-up');$el.classList.remove('invisible')">
                <h1 class="text-pantone-266c text-4xl font-extralight pb-5 ">$97K</h1>
                <p class="text-cadet-grey">Lorem ipsum is placeholder text commonly used.</p>
            </div>
        </div>
    </div>



</div>