<!--themajority-->


<section class="">
    <div class="max-w-3xl w-full mx-auto  text-center mt-20">
        <h1 class="font-features">The majority our customers do not understand their workflows.</h1>
        <p class="text-cadet-grey text-xl mt-5">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="text-center mt-10">
        <div class="grid grid-cols-3 gap-5">
                <div class="invisible flex flex-col items-center" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
                   <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant1Svg.html')).data"></span>      
                     <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
                <div class="invisible flex flex-col items-center" x-intersect.half="sleep(100).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
                  <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant4Svg.html')).data"></span>
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>


                <div class="invisible flex flex-col items-center" x-intersect.half="sleep(200).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
                    <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant2Svg.html')).data"></span>
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>
                <div class="invisible flex flex-col items-center" x-intersect.half="sleep(300).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
                    <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant5Svg.html')).data"></span>
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>



                <div class="invisible flex flex-col items-center" x-intersect.half="sleep(400).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
                    <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant3Svg.html')).data"></span>
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>             
                <div class="invisible flex flex-col items-center" x-intersect.half="sleep(500).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
                    <span class="mb-5" x-init="$el.innerHTML=(await axios.get('Components/Features/Svgs/features/instant6Svg.html')).data"></span>
                    <h1 class="text-xl font-bold mb-3">Instant Features</h1>
                    <p class="text-gray-500">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                    </p>
                </div>

        </div>


    </div>
</section>