<!--key-->
<ul id="blog-keys" class="flex justify-center  invisible"
    x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">

    <li class="link-next-prev mx-2">
        <a href="" class=" ">
            prev
        </a>
    </li>
    <li class="link-page hover:bg-pantone-2736  mx-1">
        <a href="" class=" ">
            1
        </a>
    </li>
    <li class="link-page hover:bg-pantone-2736  mx-1">
        <a href="" class=" ">
            2
        </a>
    </li>
    <li class="link-page hover:bg-pantone-2736  mx-1">
        <a href="" class=" ">
            3
        </a>
    </li>

    <li class="link-page hover:bg-pantone-2736  mx-1">
        <a href="" class=" ">
            ...
        </a>
    </li>

    <li class="link-page hover:bg-pantone-2736  mx-1">
        <a href="" class=" ">
            12
        </a>
    </li>


    <li class=" link-next-prev  hover:bg-pantone-2736 mx-1  ">
        <a href="" class="">
            Next
        </a>
    </li>

</ul>
























</section>