<!--key-->
<ul class="flex justify-center  invisible"
    x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');">
    <a href="" class=" ">
        <li class="  link-next-prev mx-2">prev</li>
    </a>

    <a href="" class="">
        <li class=" link-page hover:bg-pantone-2736  mx-1    ">1</li>
    </a>

    <a href="" class="">
        <li class=" link-page  hover:bg-pantone-2736 mx-1  ">2</li>
    </a>

    <a href="" class="">
        <li class=" link-page  hover:bg-pantone-2736 mx-1  ">3</li>
    </a>

    <a href="" class="">
        <li class=" link-page  mx-2 ">...</li>
    </a>

    <a href="" class="">
        <li class=" link-page   hover:bg-pantone-2736 mx-1  ">12</li>
    </a>

    <a href="" class="">
        <li class=" link-next-prev  hover:bg-pantone-2736 mx-1  ">Next</li>
    </a>

</ul>
























</section>