<!--latest-->
<div class="border-bottom-raisin-black">
    <h1 class="text-2xl text-left font-bold invisible"
        x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible')"> Latest articles </h1>
</div>


<div id="latest" class="mx-auto  my-10">

    <div class="grid grid-cols-1  lg:grid-cols-3 ">

        <div class="mx-3  invisible" x-intersect.half="$el.classList.add('fade-up'); $el.classList.remove('invisible');" >
            <div class="news-img-div-scalable">
                <img src="/img/news-01.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-01.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>


        <div class="mx-3 invisible" x-intersect.half="sleep(100).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-02.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-212c btn-news  hover:bg-pantone-213c">Design</button>
            <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-02.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Markus Barker <span class="text-gray-500">
                </a> - Jan 12, 2020</span> </h1>
            </div>
        </div>


        <div class="mx-3 invisible" x-intersect.half="sleep(200).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-03.jpg " alt="" class="news-img-img-scalable">
            </div> <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <button href="" class="bg-pantone-7465c btn-news  hover:bg-pantone-7473c">Tutorials and
                articles</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""> <img src="/img/news-author-03.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Lisa Crockett <span class="text-gray-500">
                </a> - Jan 19, 2020</span> </h1>
            </div>
        </div>


        <div class="mx-3 my-5 invisible" x-intersect.half="sleep(300).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-04.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-7479c btn-news  hover:bg-pantone-7731c">Culture</button>
            <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-05.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>

        <div class="mx-3  my-5 invisible" x-intersect.half="sleep(400).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-02.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-03.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Markus Barker <span class="text-gray-500">
                </a> - Jan 12, 2020</span> </h1>
            </div>
        </div>

        <div class="mx-3  my-5 invisible" x-intersect.half="sleep(500).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-06.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-212c btn-news  hover:bg-pantone-213c">Design</button>
            <button href="" class="bg-pantone-7465c btn-news  hover:bg-pantone-7473c">Tutorials and
                articles</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-06.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>

        <div class="mx-3 invisible"  x-intersect.half="sleep(600).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable ">
                <img src="/img/news-07.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <button href="" class="bg-pantone-2727c btn-news  hover:bg-pantone-2726c">Engineering</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-02.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>

        <div class="mx-3 invisible" x-intersect.half="sleep(700).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable">
                <img src="/img/news-08.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <button href="" class="bg-pantone-7479c btn-news  hover:bg-pantone-7731c">Culture</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-01.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>

        <div class="mx-3 invisible" x-intersect.half="sleep(800).then(() => {$el.classList.add('fade-up'); $el.classList.remove('invisible'); })">
            <div class="news-img-div-scalable " >
                <img src="/img/news-09.jpg " alt="" class="news-img-img-scalable">
            </div>
            <button href="" class="bg-pantone-266c btn-news hover:bg-pantone-2736">product</button>
            <h1 class="text-2xl my-4 font-bold">The quick brown fox jumped over the lazy dog. </h1>
            <p class="text-lg text-gray-400 max-w-xl font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex items-center mt-5">
                <a href="" class=""><img src="/img/news-author-02.jpg" alt="" class="rounded-full w-10 h-10">
                    <h1 class="pl-3 text-sm">Anastasia Dan <span class="text-gray-500">
                </a> - Jan 17, 2020</span> </h1>
            </div>
        </div>
    </div>

</div>