@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback); */

*{
   font-family: Inter,sans-serif;
   @apply text-white
}

[x-cloak] { display: none !important; }

/* animation */
@keyframes fadeUp {

    0%{
        opacity: 0;
        transform: translateY(100%);
    }
     100%{
        opacity: 1;
        transform: translateY(0);

    }
    
}

.fade-up{
    animation: fadeUp 1s;
    
}
.anim-delay{
   animation-delay: 0.08s;
}
.btn{
  @apply px-6 py-3 flex items-center hover:cursor-pointer rounded-sm
}

.btn-neon-blue{
 @apply bg-neon-blue hover:bg-neon-blue-hover 
}


.btn-gray{
  @apply bg-slate-700 hover:bg-gray-800 rounded-sm
 }
 /* #navbar_menu li{
@apply hover:bg-cadet-grey
 } */

 @keyframes pulseLoop {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(4);
    }
 }

 .pulse_loop{
    animation: pulseLoop 8s infinite;
    position: absolute;
 }
 .anim-delay-2{
    animation-delay: -2s;
 }
 .anim-delay-4{
    animation-delay: -4s;
 }
 .anim-delay-6{
    animation-delay: -6s;
 }
 .anim-delay-8{
    animation-delay: -8s;
 }